<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col pt-2">
            Vacations Request
          </div>
          <div class="col-auto">
            <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right"
              (click)="cancel()" [disabled]="isLoading">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="input-dialog-group">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p><span class="font-weight-bold text-primary">Available days:</span> {{availableDays}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <p class="font-weight-bold text-primary">Vacation Days List</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="input-date-group">
                    <form *ngFor="let vacation of vacationRequest.vacation_dates_input_list; let date_index = index">
                      <div class="row">
                        <div class="col mt-2 pr-md-0">
                          <mat-form-field appearance="outline" matTooltip="Select the day to request"
                            [matTooltipPosition]="'above'">
                            <mat-label>Choose a date</mat-label>
                            <input matInput #resultPickerModel="ngModel" [min]="startDate" [max]="endDate"
                              [matDatepicker]="picker" [(ngModel)]="vacation.date" name="vacation_date"
                              (keydown)="listenEnterEvent($event, vacation)" required>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
                            <mat-error *ngIf="resultPickerModel.hasError('matDatepickerParse')">
                              "{{resultPickerModel.getError('matDatepickerParse').text}}"
                              is not a valid date!
                            </mat-error>
                            <mat-error *ngIf="resultPickerModel.hasError('matDatepickerMin')">
                              Minimum date should be {{getDateFormat(startDate)}}
                            </mat-error>
                            <mat-error *ngIf="resultPickerModel.hasError('matDatepickerMax')">
                              Maximum date should be {{getDateFormat(endDate)}}
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-auto pt-2 pl-md-0">
                          <button class="btn btn-sm btn-round btn-just-icon"
                            (click)="removeVacationDate(date_index, $event)" *ngIf="date_index != 0">
                            <i class="material-icons">remove</i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button mat-raised-button class="btn btn-success btn-sm btn-round btn-just-icon pull-right"
                        (click)="addVacation()">
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <p class="font-weight-bold text-primary">Client Approval List</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" matTooltip="Write down the projects with client approval"
                    [matTooltipPosition]="'above'">
                    <mat-label class="text-gray">Project -> Project manager name</mat-label>
                    <textarea matInput [(ngModel)]="vacationRequest.client_approval" name="client_approval"></textarea>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-auto pr-0">
    <i class="material-icons">info_outline</i>
  </div>
  <div class="col-auto">
    <p>Vacation requests must be done at least 7 days before the dates requested to be approved
    </p>
  </div>
  <div class="col">
    <button mat-raised-button class="btn btn-success pull-right" (click)="validateDates()" [disabled]="isLoading"
      type="submit">
      Send
    </button>
  </div>
</div>