.card-profile {
  margin-top: 30px;
  text-align: center;

  .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;

    @include shadow-big();

    &+.card-body {
      margin-top: 15px;
    }
  }

  .card-body+.card-footer {
    margin-top: -15px;
  }

  .card-footer {
    .btn.btn-just-icon {
      font-size: 20px;
      padding: 12px 12px;
      line-height: 1em;
    }
  }

  &.card-plain {
    .card-avatar {
      margin-top: 0;
    }
  }

  .card-header:not([class*="card-header-"]) {
    background: transparent;
  }

  .card-avatar {
    width: 130px;
    height: 130px;

    .img {
      width: 100%;
      height: 130px;
      object-fit: cover;
    }
  }

  .card-avatar:hover:not(.private) {
    background: url("../../../img/faces/hover-img.png") no-repeat !important;

    .img {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }
  }

  .card-img {
    margin: -15px auto 0;
    padding: 0;

    &+.card-body {
      margin-top: 15px;
    }

    img {
      width: 100%;
      height: auto;
    }

    max-width: 130px;
    max-height: 130px;
  }
}