<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="row justify-content-center">
          <div class="text-center w-100">
            <img src="/assets/img/pernix-central-logo-login.png" class="w-25" />
          </div>
        </div>
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <h3 class="card-title">Login</h3>
          </div>
          <div class="card-body">
            <div class="row justify-content-center" [hidden]="!loading">
              <mat-spinner></mat-spinner>
            </div>
            <form class="login" #newPasswordForm="ngForm" *ngIf="!loading">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" id="newPassword" name="newPassword"
                      [(ngModel)]="newPassword" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" id="confirmPassword"
                      name="confirmPassword" [(ngModel)]="confirmPassword" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-4 text-center">
                  <button mat-raised-button type="submit"
                    (click)="resetPassword()"
                    [disabled]="!newPassword && loading" class="btn btn-block btn-info">Reset Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>