<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col">
            {{title}}
          </div>
          <div class="col-auto" *ngIf="currentEmployeeIsAdmin()">
            <span class="cursor-pointer" style="font-size: 1.2rem;" (click)="goToWalletSummary()">Review Pending</span>
          </div>
        </div>
      </div>
      <div class="card-body wallet">
        <div class="row justify-content-between">
          <div class="col ml-2" *ngIf="currentEmployeeIsAdmin() && employeesHistory">
            <mat-form-field appearance="outline">
              <mat-label>Filter by employee name</mat-label>
              <input matInput matTooltip="Filter after 3 letters"
                [matTooltipPosition]="'below'" (keyup)="filterByEmployeeName($event.target.value)">
            </mat-form-field>
          </div>
          <div class="col ml-2" *ngIf="!currentEmployeeIsAdmin() || !employeesHistory">
            <mat-form-field appearance="outline">
              <mat-label>Filter by reviewer, status or type</mat-label>
              <input matInput matTooltip="Filter after 3 letters"
                [matTooltipPosition]="'below'" (keyup)="filter($event.target.value)">
            </mat-form-field>
          </div>
          <div class="col mr-md-3">
            <button mat-raised-button class="btn btn-success pull-right" (click)="goToWalletRequest(requestType.CREDIT)"
              *ngIf="!getEmployee() || getEmployee().id == currentEmployee.id">
              Request Points
            </button>
            <button mat-raised-button class="btn btn-inverse pull-right" (click)="goToWalletRequest(requestType.DEBIT)"
              *ngIf="!getEmployee() || getEmployee().id == currentEmployee.id">
              Redeem Points
            </button>
          </div>
        </div>
        <div *ngIf="currentEmployeeIsAdmin() && employeesHistory">
          <div class="row justify-content-center" *ngIf="employeeListData == null">
            <div class="col-2">
              <mat-spinner></mat-spinner>
            </div>
          </div>
          <div *ngIf="employeeListData != null">
            <div class="row justify-content-between">
              <table class="table table-cursor">
                <thead class="text-primary">
                  <th>Employee name</th>
                  <th>Available points</th>
                </thead>
              </table>
            </div>
            <div class="row">
              <div class="col">
                <mat-accordion>
                  <mat-expansion-panel class="mb-2" *ngFor="let employee of employeeList">
                    <mat-expansion-panel-header class="accordion-panel-header" (click)="getUserWalletHistory(employee.id, 'Wallet History')">
                      <mat-panel-title class="justify-content-between">
                        <h4 class="mb-0" [ngClass]="{'text-extra-bold text-warning': employee.has_pending_wallet_requests}">{{
                          employee.first_name }} {{ employee.last_name }}</h4>
                        <h4 class="col-4 mb-0">{{ employee.my_way_points_available }} </h4>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row justify-content-center" *ngIf="walletHistoryData == null">
                      <div class="col-2">
                        <mat-spinner></mat-spinner>
                      </div>
                    </div>
                    <div class="row" *ngIf="walletHistoryData != null && walletHistoryData.length == 0">
                      <div class="col">
                        <p>
                          This user doesn't have points requests
                        </p>
                      </div>
                    </div>
                    <div class="row" *ngIf="walletHistoryData != null && walletHistoryData.length != 0">
                      <div class="col">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Filter by reviewer, status or type</mat-label>
                            <input matInput
                              matTooltip="Filter after 3 letters" [matTooltipPosition]="'below'"
                              (keyup)="filter($event.target.value)">
                          </mat-form-field>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-hover table-striped table-cursor">
                            <thead class="text-primary">
                              <th>Name</th>
                              <th>Points</th>
                              <th>Type</th>
                              <th>Status</th>
                              <th>Reviewer</th>
                              <th>Review date</th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let request of walletHistory" (click)="walletRequestDetails(request.id)">
                                <td>{{request.request_name}}</td>
                                <td
                                  [ngClass]="request.request_type === requestType.DEBIT ? 'text-danger' : 'text-success'">
                                  {{request.request_points}}
                                </td>
                                <td>{{request.request_type | titlecase}}</td>
                                <td>{{request.status | titlecase}}</td>
                                <td>{{request.reviewer_name || "-"}}</td>
                                <td>{{(request.review_date| date) || "-"}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!currentEmployeeIsAdmin() || !employeesHistory">
          <div class="row justify-content-center" *ngIf="walletHistoryData == null">
            <div class="col-2">
              <mat-spinner></mat-spinner>
            </div>
          </div>
          <div class="ml-2" *ngIf="walletHistoryData != null">
            <h4 class="text-primary mb-2">
              Available points: {{ currentEmployee.my_way_points_available }}
            </h4>
            <h4 class="text-primary mb-1">Transactions:</h4>
            <div class="table-responsive">
              <table class="table table-hover table-striped table-cursor">
                <thead class="text-primary">
                  <th>Date</th>
                  <th>Name</th>
                  <th>Points</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Reviewer</th>
                  <th>Review date</th>
                </thead>
                <tbody>
                  <tr *ngFor="let request of walletHistory" (click)="walletRequestDetails(request.id)">
                    <td>{{request.created_at | date}}</td>
                    <td>{{request.request_name}}</td>
                    <td [ngClass]="request.request_type === requestType.DEBIT ? 'text-danger' : 'text-success'">
                      {{request.request_points}}
                    </td>
                    <td>{{request.request_type | titlecase}}</td>
                    <td>{{request.status | titlecase}}</td>
                    <td>{{request.reviewer_name || "-"}}</td>
                    <td>{{(request.review_date| date) || "-"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>