@media screen and (min-width: 768px) {
  .schedule-form {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  
  .schedule-child {
    display: table-cell;
  }  
}

.schedule-child {
  padding: 0px 10px 0px 10px;
}
