<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col pt-2">
            Official Link Form
          </div>
          <div class="col-auto">
            <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right"
              (click)="cancel()">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row justify-content-center">
            <div class="col">
              <div class="row justify-content-center mt-2">
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="officialLink.name" name="name" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center mt-2">
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Hyperlink</mat-label>
                    <input matInput [(ngModel)]="officialLink.hyperlink" name="hyperlink" required>
                    <mat-hint>http://www.example.com/</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <button mat-raised-button class="btn btn-success pull-right" (click)="addOfficialLink(officialLink)" *ngIf="isNew"
    [disabled]="isLoading">
    Save
  </button>
</div>
<div *ngIf="!isNew">
  <button mat-raised-button class="btn btn-success pull-right" (click)="updateOfficialLink(officialLink)"
    [disabled]="isLoading">
    Save
  </button>
  <button mat-raised-button class="btn btn-danger pull-right" (click)="deleteOfficialLink(officialLink)">
    Delete
  </button>
</div>