<div class="container-fluid">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol id="breadcrumb" class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let path of pathArray; let path_index = index"
          [ngClass]="{active: path_index == pathArray.length-1}" aria-current="page">
          <a [routerLink]="getPath(path_index)" *ngIf="!(path_index == pathArray.length-1)"
            class="text-capitalize">{{path}}</a>
          <a *ngIf="path_index == pathArray.length-1" class="text-capitalize">{{path}}</a>
        </li>
      </ol>
    </nav>
  </div>
</div>