<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col pt-2">
            New Comment
          </div>
          <div class="col-auto">
            <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right"
              (click)="cancel()">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <form>
              <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <textarea matInput [(ngModel)]="comment.text" name="text" required></textarea>
              </mat-form-field>
            </form>
          </div>
          <div class="col-md-2">
            <mat-checkbox [(ngModel)]="comment.anonymus" name="anonymus">
              <i class="material-icons">person_outline</i>
              Remain anonymus
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <button mat-button type="submit" (click)="confirm()" class="btn btn-success pull-right">Save</button>
</div>