<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top mb-2">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" [routerLink]="['../../', 'employees', 'list']" id="home-anchor">{{getTitle()}}</a>
    </div>
    <div class="d-flex flex-row align-items-center" id="navigation">
      <div class="col navbar-brand text-right" *ngIf="employee != null">
        <p>{{ getUserName() }}</p>
      </div>
      <div class="col-auto p-1" *ngIf="employee != null">
        <a mat-raised-button class="btn btn-info btn-round btn-just-icon"
          [routerLink]="['employees', employee.id, 'details']" matTooltip="My Profile" [matTooltipPosition]="'below'">
          <div *ngIf="hasImage()">
            <img class="material-icons" [src]="employee.profile" />
            <div class="ripple-container"></div>
          </div>
          <div *ngIf="!hasImage()">
            <img class="material-icons" src="/assets/img/faces/default-profile-picture.png" />
            <div class="ripple-container"></div>
          </div>
        </a>
      </div>
      <div class="col-auto p-0">
        <button class="btn-notification pt-2" (click)="openNotificationTray()">
          <div *ngIf="unreadNotificationCount > 0">
            <mat-icon matBadge="{{unreadNotificationCount }}" matBadgeColor="warn">
              notifications
            </mat-icon>
          </div>
          <div *ngIf="unreadNotificationCount == 0">
            <mat-icon>
              notifications
            </mat-icon>
          </div>
        </button>
      </div>
    </div>
  </div>
</nav>