<div class="card">
  <div class="card-header card-header-info">
    <div class="row">
      <div class="col pt-2">
        Password Recovery
      </div>
      <div class="col-auto">
        <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right" (click)="close()">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body pb-5 pt-5">
    <form [formGroup]="emailForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email </mat-label>
        <input matInput formControlName="email">
        <mat-error class="mb-1" *ngIf="emailForm.get('email').hasError('required')">Email is required</mat-error>
        <mat-error class="mb-1" *ngIf="emailForm.get('email').hasError('email')">Invalid email format</mat-error>
        <mat-error class="mb-1" *ngIf="emailForm.get('email').hasError('invalidEmail')">Invalid email domain</mat-error>
      </mat-form-field>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
    </form>
  </div>
</div>
<div class="col">
  <button mat-raised-button class="btn btn-success pull-right" type="submit" (click)="sendRecoveryEmail()"
    [disabled]="!emailForm.valid || isLoading">
    Send Recovery Email</button>
</div>