<div class="row justify-content-end">
  <div class="col">
    <h5 class="font-weight-bold text-primary">Notification Tray</h5>
  </div>
  <div class="col-auto" *ngIf="thereIsUnread()">
    <button class="btn btn-link text-dark p-0" (click)="readAllNotifications()">
      <u> Mark all as read </u>
    </button>
  </div>
  <div class="col-auto">
    <a class="cursor-pointer" (click)="goToSettings()">
      <i class="material-icons text-dark">settings</i>
    </a>
  </div>
</div>
<hr class="mb-0">
<div class="row input-dialog-group">
  <div *ngIf="notificationMessages.length != 0" class="col">
    <div *ngFor="let notification of notificationMessages" (click)="goToNotification(notification)">
      <div class="notification-table">
        <div class="row pb-1 pt-3 pl-2 pr-2">
          <div class="col">
            <div [ngClass]="{'text-muted': notification.read, 'font-weight-bold': !notification.read}">
              <p>
                {{ notification.notification_content}}
              </p>
            </div>
          </div>
          <div class="col-auto pull-right">
            <small class="text-muted pull-right"> {{convertDate(notification.created_at)}} </small>
          </div>
        </div>
        <hr class="mt-0 mb-0">
      </div>
    </div>
  </div>
  <div *ngIf="notificationMessages.length == 0">
    <p class="pl-3 pt-3">
      No new notifications
    </p>
  </div>
</div>