<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        Suggestion Box
      </div>
      <div class="card-body">
        <div class="col">
          <button mat-raised-button class="btn btn-success pull-right" (click)="addSuggestion()">
            Add
          </button>
        </div>
        <div class="row justify-content-center" *ngIf="suggestions == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive" *ngIf="suggestions != null">
          <table class="table table-hover table-striped table-cursor">
            <thead class="text-primary">
              <th>Subject</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr *ngFor="let suggestion of suggestions"
                [routerLink]="['../../', 'suggestions', suggestion.id, 'details']">
                <td>{{ suggestion.title }}</td>
                <td>{{ suggestion.management_resolved ? "Resolved by management" : "Open" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>