<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        {{title}}
      </div>
      <div class="card-body vacation-history">
        <div class="row justify-content-between">
          <div class="col ml-2" *ngIf="currentEmployeeIsAdmin() && employeesHistory">
            <mat-form-field appearance="outline">
              <mat-label>Filter by employee name</mat-label>
              <input matInput matTooltip="Filter after 3 letters" [matTooltipPosition]="'below'"
                (keyup)="filterByEmployeeName($event.target.value)">
            </mat-form-field>
          </div>
          <div class="col ml-2" *ngIf="!currentEmployeeIsAdmin() || !employeesHistory">
            <mat-form-field appearance="outline">
              <mat-label>Filter by reviewer or status</mat-label>
              <input matInput matTooltip="Filter after 3 letters" [matTooltipPosition]="'below'"
                (keyup)="filter($event.target.value)">
            </mat-form-field>
          </div>
          <div class="col mr-md-3">
            <button mat-raised-button class="btn btn-success pull-right" (click)="goToVacationRequest()"
              *ngIf="!getEmployee() || getEmployee().id == currentEmployee.id">
              Add
            </button>
          </div>
        </div>
        <div *ngIf="currentEmployeeIsAdmin() && employeesHistory">
          <div class="row justify-content-center" *ngIf="employeeListData == null">
            <div class="col-2">
              <mat-spinner></mat-spinner>
            </div>
          </div>
          <div *ngIf="employeeListData != null">
            <div class="row justify-content-between">
              <table class="table">
                <thead class="text-primary">
                  <th>Employee name</th>
                  <th>Available days</th>
                </thead>
              </table>
            </div>
            <div class="row">
              <div class="col">
                <mat-accordion>
                  <mat-expansion-panel class="mb-2" *ngFor="let employee of employeeList">
                    <mat-expansion-panel-header class="accordion-panel-header"
                      (click)="getVacationsByUser(employee.id, 'Vacation History')">
                      <mat-panel-title class="justify-content-between">
                        <h4 class="mb-0"
                          [ngClass]="{'text-extra-bold text-warning': employee.has_pending_vacation_requests}">{{
                          employee.first_name }} {{ employee.last_name }}</h4>
                        <h4 class="col-4 mb-0">{{ employee.employee_available_days }} </h4>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row justify-content-center" *ngIf="vacationRequestListData == null">
                      <div class="col-2">
                        <mat-spinner></mat-spinner>
                      </div>
                    </div>
                    <div class="row" *ngIf="vacationRequestListData != null && vacationRequestListData.length == 0">
                      <div class="col">
                        <p>
                          This user doesn't have vacation requests
                        </p>
                      </div>
                    </div>
                    <div class="col" *ngIf="vacationRequestListData != null && vacationRequestListData.length != 0">
                      <div class="row justify-content-between">
                        <div class="col ml-2">
                          <mat-form-field appearance="outline">
                            <mat-label>Filter by reviewer or status</mat-label>
                            <input matInput matTooltip="Filter after 3 letters" [matTooltipPosition]="'below'"
                              (keyup)="filter($event.target.value)">
                          </mat-form-field>
                        </div>
                        <div class="col mr-md-3">
                          <button mat-raised-button class="btn btn-inverse pull-right"
                            (click)="downloadCSV(employee.id)" *ngIf="currentEmployeeIsAdmin()">
                            Download CSV
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="table-responsive">
                            <table class="table table-hover table-striped table-cursor">
                              <thead class="text-primary">
                                <th>Vacation Day Requested</th>
                                <th>Status</th>
                                <th>Reviewer</th>
                                <th>Review date</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let vacation of vacationList" (click)="vacationDetails(vacation.id)">
                                  <td>
                                    <div mat-list-item *ngFor="let date of vacation.vacation_dates_output_list"
                                      role="listitem">
                                      {{date.date | date}}
                                    </div>
                                  </td>
                                  <td>{{vacation.status | titlecase}}</td>
                                  <td>{{vacation.reviewer_name|| "-"}}</td>
                                  <td>{{(vacation.review_date| date)|| "-"}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!currentEmployeeIsAdmin() || !employeesHistory">
          <div class="row justify-content-center" *ngIf="vacationRequestListData == null">
            <div class="col-2">
              <mat-spinner></mat-spinner>
            </div>
          </div>
          <div class="table-responsive" *ngIf="vacationRequestListData != null">
            <table class="table table-hover table-striped table-cursor">
              <thead class="text-primary">
                <th>Vacation Day Requested</th>
                <th>Status</th>
                <th>Reviewer</th>
                <th>Review date</th>
              </thead>
              <tbody>
                <tr *ngFor="let vacation of vacationList" (click)="vacationDetails(vacation.id)">
                  <td>
                    <div mat-list-item *ngFor="let date of vacation.vacation_dates_output_list" role="listitem">
                      {{date.date | date}}
                    </div>
                  </td>
                  <td>{{vacation.status | titlecase}}</td>
                  <td>{{vacation.reviewer_name|| "-"}}</td>
                  <td>{{(vacation.review_date| date)|| "-"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>