<app-breadcrumbs *ngIf="currentEmployee.id != employee.id"></app-breadcrumbs>
<div class="card card-employe-profile">
  <div class="card-header card-header-info card-header-employee">
    Employee Profile
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card card-profile card-height">
        <div class="card-avatar" *ngIf="canAccess()">
          <a [routerLink]="['../', 'edit', {'change':'picture'}]">
            <div *ngIf="!employee.profile">
              <img class="img" src="/assets/img/faces/default-profile-picture.png" />
            </div>
            <div *ngIf="!!employee.profile">
              <img class="img" [src]="employee.profile" />
            </div>
          </a>
        </div>
        <div class="card-avatar" [ngClass]="{'private' : !canAccess()}" *ngIf="!canAccess()">
          <div *ngIf="!employee.profile">
            <img class="img" src="/assets/img/faces/default-profile-picture.png" />
          </div>
          <div *ngIf="!!employee.profile">
            <img class="img" [src]="employee.profile" />
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td><i class="material-icons pull-right">vpn_key</i></td>
                <td>
                  <h6 class="card-title pull-left">{{ employee.role.name }}</h6>
                </td>
              </tr>
              <tr>
                <td><i class="material-icons pull-right">person</i></td>
                <td>
                  <h4 class="card-title pull-left">{{ employee.first_name }} {{ employee.last_name }}</h4>
                </td>
              </tr>
              <tr>
                <td><i class="material-icons pull-right">picture_in_picture</i></td>
                <td>
                  <p class="card-title pull-left">{{ employee.id_number }}</p>
                </td>
              </tr>
              <tr>
                <td><i class="material-icons pull-right">contact_mail</i></td>
                <td>
                  <p class="card-title pull-left">{{ employee.email }}</p>
                </td>
              </tr>
              <tr>
                <td><i class="material-icons pull-right">contact_phone</i></td>
                <td>
                  <p class="card-title pull-left">{{ employee.phone_number }}</p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col">
              <i class="material-icons" *ngIf="employee.active">verified_user</i>
              <p *ngIf="employee.active">Active User</p>
            </div>
            <div class="col">
              <i class="material-icons" *ngIf="!employee.vacation_control">work_history</i>
              <p *ngIf="!employee.vacation_control">No Vacation Control</p>
            </div>
            <div class="col">
              <i class="material-icons" *ngIf="employee.can_be_mentor">school</i>
              <p *ngIf="employee.can_be_mentor">Mentor</p>
            </div>
            <div class="col">
              <i class="material-icons" *ngIf="employee.has_car">directions_car</i>
              <p *ngIf="employee.has_car">Car</p>
            </div>
            <div class="col">
              <i class="material-icons" *ngIf="employee.on_vacation">terrain</i>
              <p *ngIf="employee.on_vacation">On Vacation</p>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngIf="canAccess()">
              <a class="btn btn-success" [routerLink]="['../', 'edit']">
                Edit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-height">
        <div class="card-body">
          <div class="row justify-content-center" *ngIf="haveActivateButton()">
            <div class="col text-center">
              <button mat-raised-button class="btn btn-success" (click)="activeEmployee()">
                <i class="material-icons">toggle_on</i>
                Activate employee
              </button>
            </div>
          </div>
          <hr *ngIf="haveActivateButton()" />
          <div class="row">
            <div class="col">
              <p class="font-weight-bold">Birthdate</p>
              <p>{{ employee.birthdate }}</p>
            </div>
            <div class="col">
              <p class="font-weight-bold">Hire date</p>
              <p>{{ employee.hire_date }}</p>
            </div>
            <div class="col">
              <p class="font-weight-bold">MAC Address</p>
              <p>{{ employee.mac_address || '-' }}</p>
            </div>
            <div class="col">
              <p class="font-weight-bold">Computer Serial</p>
              <p>{{ employee.computer_serial_number || '-' }}</p>
            </div>
            <div class="col" *ngIf="employee.blog_url">
              <a href="{{ employee.blog_url }}" target="_blank">Blog</a>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col" *ngFor="let day of employee.schedule.work_days">
              <i class="material-icons" *ngIf="!day.wfh">business</i>
              <i class="material-icons" *ngIf="day.wfh">home</i>
              <p class="font-weight-bold">{{ day.week_day }}</p>
              <p *ngFor="let period of day.periods">{{ period.start_time }} - {{ period.end_time }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="font-weight-bold">Total work hours: {{ workHoursFormat() }}</p>
            </div>
          </div>
          <hr *ngIf="!isApprentice() && canAccess() && employee.vacation_control" />
          <div *ngIf="!isApprentice() && canAccess() && employee.vacation_control">
            <h4>
              <strong>Vacations information </strong>
              <i class="material-icons info-icon"
                matTooltip="Pernix offers 10 vacation days every year. Hover each field for more info">
                info_outline</i>
            </h4>
            <div class="row">
              <div class="col-md">
                <p class="font-weight-bold" matTooltip="Total earned days - Approved days + Cumulative seniority days">
                  Available days:
                  <span class="badge badge-info p-2 pull-right">{{employee.employee_available_days}}</span>
                </p>
              </div>
              <div class="col-md">
                <p class="font-weight-bold" matTooltip="Amount of vacation days enjoyed">
                  Enjoyed days:
                  <span class="badge badge-info p-2 pull-right">{{employee.employee_enjoyed_days}}</span>
                </p>
              </div>
              <div class="col-md">
                <p class="font-weight-bold" matTooltip="Amount of days you will receive on your anniversary">
                  Seniority days:
                  <span class="badge badge-info p-2 pull-right">{{employee.employee_seniority_days}}</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <p class="font-weight-bold"
                  matTooltip="Total amount of vacation days earned without the seniority benefit">
                  Total earned days:
                  <span class="badge badge-info p-2 pull-right">{{employee.employee_total_days}}</span>
                </p>
              </div>
              <div class="col-md">
                <p class="font-weight-bold" matTooltip="Total amount of vacation days approved and/or enjoyed">
                  Approved days:
                  <span class="badge badge-info p-2 pull-right">{{employee.approved_days}}</span>
                </p>
              </div>
              <div class="col-md">
                <p class="font-weight-bold" matTooltip="Total amount of seniority days earned">
                  Cumulative seniority days:
                  <span class="badge badge-info p-2 pull-right">{{employee.seniority_days}}</span>
                </p>
              </div>
            </div>
            <div class="row text-center pt-2">
              <div class="col">
                <button mat-raised-button class="btn btn-success btn-vacation-information"
                  (click)="goToVacationsHistory()">
                  Vacation History
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>