// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary: $green-primary;
$brand-info: $blue-primary;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
$brand-danger: $deep-orange-primary;
$brand-rose: $pink-500 !default;
$brand-inverse: $black-color !default;