<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col pt-2">
            {{ title }}
          </div>
          <div class="col-auto">
            <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right"
              (click)="cancel()">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row" *ngIf="celebrationList != null">
          <div class="col">
            <p> {{ text }} </p>
            <div class="pl-3" *ngFor="let employee of celebrationList; let celebration_index = index">
              <p> {{celebration_index + 1}}. {{ employee }} </p>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="celebrationList == null">
          <div class="col">
            <img class="mx-auto d-block" width="350" height="450" src="/assets/img/birthday.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>