<div class="card">
  <div class="card-header card-header-info">
    Notification Settings
  </div>
  <div class="card-body">
    <div class="mt-3" *ngIf="settings">
      <div class="row">
        <div class="col-md-6 col-sm-auto mt-2">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Anniversary</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.anniversary.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.anniversary.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-auto mt-2">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Birthday</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.birthday.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.birthday.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-auto mt-2">
          <div class="row">
            <div class="col-md col-sm-auto">
              <h5 class="font-weight-bold text-capitalize">Role change</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.change_role.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col">
              <mat-checkbox [(ngModel)]="settings.change_role.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-auto mt-2" *ngIf="currentEmployeeIsAdmin()">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Schedule change</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.change_schedule.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.change_schedule.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-auto mt-2" *ngIf="currentEmployeeIsAdmin()">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Vacation request submissions</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.vacation_request_submitted.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.vacation_request_submitted.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-auto mt-2" *ngIf="!currentEmployeeIsApprentice()">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Vacation request revisions</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.vacation_request_reviewed.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.vacation_request_reviewed.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-auto mt-2" *ngIf="currentEmployeeIsAdmin()">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Vacation request reminders</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.vacation_request_reminder.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.vacation_request_reminder.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md col-sm-auto">
              <div *ngIf="settings.vacation_request_reminder.email || settings.vacation_request_reminder.tray">
                <mat-form-field appearance="outline" class="w-75">
                  <mat-label class="text-center">Receive notifications on: </mat-label>
                  <mat-select class="text-center" [(ngModel)]="settings.vacation_request_reminder.notify_on" multiple>
                    <mat-option value="Monday">Monday</mat-option>
                    <mat-option value="Tuesday">Tuesday</mat-option>
                    <mat-option value="Wednesday">Wednesday</mat-option>
                    <mat-option value="Thursday">Thursday</mat-option>
                    <mat-option value="Friday">Friday</mat-option>
                    <mat-option value="Saturday">Saturday</mat-option>
                    <mat-option value="Sunday">Sunday</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-auto mt-2">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Wallet request revisions</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.wallet_request_reviewed.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.wallet_request_reviewed.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-auto mt-2" *ngIf="currentEmployeeIsAdmin()">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Wallet request summary</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.wallet_request_reminder.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.wallet_request_reminder.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md col-sm-auto">
              <div *ngIf="settings.wallet_request_reminder.email || settings.wallet_request_reminder.tray">
                <mat-form-field appearance="outline" class="w-75">
                  <mat-label class="text-center">Receive notifications on: </mat-label>
                  <mat-select class="text-center" [(ngModel)]="settings.wallet_request_reminder.notify_on" multiple>
                    <mat-option value="Monday">Monday</mat-option>
                    <mat-option value="Tuesday">Tuesday</mat-option>
                    <mat-option value="Wednesday">Wednesday</mat-option>
                    <mat-option value="Thursday">Thursday</mat-option>
                    <mat-option value="Friday">Friday</mat-option>
                    <mat-option value="Saturday">Saturday</mat-option>
                    <mat-option value="Sunday">Sunday</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-auto mt-2">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Suggestion responses</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.suggestion_responses.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.suggestion_responses.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-auto mt-2" *ngIf="currentEmployeeIsAdmin()">
          <div class="row">
            <div class="col">
              <h5 class="font-weight-bold text-capitalize">Request Removal</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.request_removal.email">
                <div class="text-dark">
                  Email notifications
                </div>
              </mat-checkbox>
            </div>
            <div class="col-md col-sm-auto">
              <mat-checkbox [(ngModel)]="settings.request_removal.tray">
                <div class="text-dark">
                  Tray notifications
                </div>
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button class="btn btn-success pull-right mt-5" (click)="updateSettings()">
        Save
      </button>
    </div>
  </div>
</div>