<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-info">
                Official Links
            </div>
            <div class="card-body">
                <div class="col" *ngIf="canAccess()">
                    <button mat-raised-button class="btn btn-success pull-right" (click)="addOfficialLink()">
                        Add
                    </button>
                </div>
                <div class="row justify-content-center" *ngIf="sortedData == null">
                    <div class="col-2">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
                <div class="table-responsive" *ngIf="sortedData != null">
                    <table class="table table-hover table-striped" matSort (matSortChange)="sortData($event)">
                        <thead class="text-primary">
                            <th mat-sort-header="name">Name</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let officialLink of sortedData">
                                <td>
                                    <a href={{officialLink.hyperlink}} class="btn-link text-link" target="_blank"> {{
                                        officialLink.name }}</a>
                                </td>
                                <td>
                                    <button *ngIf="canAccess()" mat-raised-button
                                        class="btn btn-sm btn-success btn-round btn-just-icon pull-right"
                                        (click)="updateOfficialLink(officialLink.id)">
                                        <i class="material-icons">create</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>