<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="row justify-content-center">
          <div class="text-center w-100">
            <img src="/assets/img/pernix-central-logo-login.png" class="w-25" />
          </div>
        </div>
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <h3 class="card-title">Login</h3>
          </div>
          <div class="card-body">
            <div class="row justify-content-center" *ngIf="loading">
              <mat-spinner></mat-spinner>
            </div>
            <form class="login" (ngSubmit)="onSubmit()" *ngIf="!loading">
              <div class="row justify-content-center">
                <div class="col-xl-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Email </mat-label>
                    <input matInput type="email" [(ngModel)]="credentials.email" name="email" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-xl-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Password </mat-label>
                    <input matInput type="password" [(ngModel)]="credentials.password" name="password" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-xl-6 text-center">
                  <button mat-raised-button type="submit" [disabled]="loading"
                    class="btn btn-block btn-info">Login</button>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-6 mt-3 text-center">
                  <a (click)="openPasswordRecoveryModal()" class="btn-link text-link cursor-pointer" target="_blank">
                    Forgot Password?
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>