<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col pt-2">
            Suggestion Form
          </div>
          <div class="col-auto">
            <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right"
              (click)="cancel()">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="input-dialog-group">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Title</mat-label>
                  <input matInput [(ngModel)]="suggestion.title" name="title" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div>
                  <quill-editor id="quillContent" [placeholder]="'Type your Suggestion Here! *'" [modules]="modules"
                    [(ngModel)]="suggestion.description" name="description" required></quill-editor>
                </div>
              </div>
            </div>
            <br />
            <a>Once a suggestion has been submitted, it is <b>not</b> editable!</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <button mat-raised-button class="btn btn-success pull-right" (click)="addSuggestion(suggestion)" [disabled]="isLoading">
    Save
  </button>
</div>
