<app-breadcrumbs></app-breadcrumbs>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        Suggestion Details
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold text-primary">Subject</p>
            <p>{{ suggestion.title }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold text-primary">Status</p>
            <p>{{ suggestion.management_resolved ? 'Resolved' : 'Unresolved' }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold text-primary">Details</p>
            <div>
              <quill-view [content]=" suggestion.description"></quill-view>
            </div>
            <p>by {{ suggestion.author }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a mat-raised-button class="btn btn-info btn-round pull-right" *ngIf="!suggestion.management_resolved"
              (click)="addComment()" matTooltip="Add comment" [matTooltipPosition]="'below'">
              <i class="material-icons">message</i>
            </a>
            <a mat-raised-button class="btn btn-success btn-round pull-right" (click)="markResolved()"
              *ngIf="canAccess() && !suggestion.management_resolved" matTooltip="Archive (Mark as resolved)"
              [matTooltipPosition]="'below'">
              <i class="material-icons">archive</i>
            </a>
            <a mat-raised-button class="btn btn-danger btn-round pull-right" (click)="markUnresolved()"
              *ngIf="canAccess() && suggestion.management_resolved" matTooltip="Unarchive (Mark as unresolved)"
              [matTooltipPosition]="'below'">
              <i class="material-icons">unarchive</i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-info">
        Comments
      </div>
      <div class="card-body">
        <div *ngIf="suggestion.comments.length > 0">
          <div *ngFor="let comment of suggestion.comments">
            <div class="row">
              <div class="col">
                <b> {{ comment.author }} </b> <small class="text-muted"> {{ comment.created_at | date }} </small>
                <br />
                <p> &nbsp; &nbsp; {{ comment.text }}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="suggestion.comments.length <= 0">
          <div class="row">
            <div class="col">
              <a> No comments </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>