<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        Employees
      </div>
      <div class="card-body employee-list">
        <mat-tab-group mat-align-tabs="center" class="tab-body-group" *ngIf="canAccess()">
          <mat-tab label="Active">
            <mat-divider></mat-divider>
            <div class="row pt-2">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Filter by name, last name or email</mat-label>
                  <input matInput matTooltip="Filter after 3 letters"
                    (keyup)="filterActiveEmployees($event.target.value, employees)">
                </mat-form-field>
              </div>
              <div class="col">
                <button mat-raised-button class="btn btn-success pull-right"
                  [routerLink]="['../../', 'employees', 'new']" *ngIf="canAccess()">
                  Add
                </button>
              </div>
            </div>
            <div class="row justify-content-center pt-2 pl-1">
              <div class="col">
                <mat-slide-toggle class="example-margin pull-left" [color]="'primary'"
                  (change)="scheduleOnly = !scheduleOnly">
                  Schedule only
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row justify-content-center" *ngIf="sortedData == null">
              <div class="col-2">
                <mat-spinner></mat-spinner>
              </div>
            </div>
            <div class="table-responsive pt-2" *ngIf="sortedData != null && !scheduleOnly">
              <table class="table table-hover table-striped table-cursor" matSort (matSortChange)="sortActiveEmployees($event)">
                <thead class="text-primary">
                  <th mat-sort-header="name">Name</th>
                  <th mat-sort-header="last_name">Last Name</th>
                  <th>Email</th>
                  <th>Today's Schedule</th>
                  <th>Today's Workplace</th>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of sortedData" [routerLink]="path(employee)" [ngClass]="{'employee-on-vacation':employee.on_vacation}">
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ daySchedule(employee) }}</td>
                    <td class="text-center">
                      <i class="material-icons" *ngIf="!dayScheduleWFH(employee)" matTooltip="Work from office"
                        [matTooltipPosition]="'below'">business</i>
                      <i class="material-icons" *ngIf="dayScheduleWFH(employee)" matTooltip="Work from home"
                        [matTooltipPosition]="'below'">home</i>
                    </td>
                  </tr>
                  <tr *ngIf="sortedData.length === 0">
                    <td>No matches</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive pt-2 overflow-hidden" *ngIf="sortedData != null && scheduleOnly">
              <table class="table table-hover table-striped table-cursor">
                <thead class="text-primary">
                  <th>Name</th>
                  <th>Schedule</th>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of sortedData" [routerLink]="path(employee)">
                    <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                    <td>
                      <div class="row">
                        <div class="col" *ngFor="let day of employee.schedule.work_days">
                          <p class="font-weight-bold">
                            <span class="material-icons align-middle" *ngIf="!day.wfh" matTooltip="Work from office"
                              [matTooltipPosition]="'below'">business</span>
                            <span class="material-icons align-middle" *ngIf="day.wfh" matTooltip="Work from home"
                              [matTooltipPosition]="'below'">home</span>
                            {{ day.week_day }}
                          </p>
                          <p *ngFor="let period of day.periods">{{ period.start_time }} - {{ period.end_time }}</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="sortedData.length === 0">
                    <td>No matches</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Inactive">
            <mat-divider></mat-divider>
            <div class="row pt-2">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Filter by name, last name or email</mat-label>
                  <input matInput matTooltip="Filter after 3 letters"
                    (keyup)="filterInactiveEmployees($event.target.value, inactiveEmployees)">
                </mat-form-field>
              </div>
              <div class="col">
                <button mat-raised-button class="btn btn-success pull-right"
                  [routerLink]="['../../', 'employees', 'new']" *ngIf="canAccess()">
                  Add
                </button>
              </div>
            </div>
            <div class="row justify-content-center" *ngIf="sortedInactiveEmployees == null">
              <div class="col-2">
                <mat-spinner></mat-spinner>
              </div>
            </div>
            <div class="table-responsive" *ngIf="sortedInactiveEmployees != null">
              <table class="table table-hover table-striped table-cursor" matSort (matSortChange)="sortInactiveEmployees($event)">
                <thead class="text-primary">
                  <th mat-sort-header="name">Name</th>
                  <th mat-sort-header="last_name">Last Name</th>
                  <th>Email</th>
                </thead>
                <tbody>
                  <tr *ngFor="let inactiveEmployee of sortedInactiveEmployees" [routerLink]="path(inactiveEmployee)">
                    <td>{{ inactiveEmployee.first_name }}</td>
                    <td>{{ inactiveEmployee.last_name }}</td>
                    <td>{{ inactiveEmployee.email }}</td>
                  </tr>
                  <tr *ngIf="sortedInactiveEmployees.length === 0">
                    <td>No matches</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div *ngIf="!canAccess()">
          <div class="row pt-2">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Filter by name, last name or email</mat-label>
                <input matInput matTooltip="Filter after 3 letters"
                  (keyup)="filterActiveEmployees($event.target.value, employees)">
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center pt-2">
            <div class="col">
              <mat-slide-toggle class="example-margin pull-left" [color]="'primary'"
                (change)="scheduleOnly = !scheduleOnly">
                Schedule only
              </mat-slide-toggle>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="sortedData == null">
            <div class="col-2">
              <mat-spinner></mat-spinner>
            </div>
          </div>
          <div class="table-responsive pt-2" *ngIf="sortedData != null && !scheduleOnly">
            <table class="table table-hover table-striped table-cursor" matSort (matSortChange)="sortActiveEmployees($event)">
              <thead class="text-primary">
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="last_name">Last Name</th>
                <th>Email</th>
                <th>Today's Schedule</th>
                <th>Today's Workplace</th>
              </thead>
              <tbody>
                <tr *ngFor="let employee of sortedData" [routerLink]="path(employee)" [ngClass]="{'employee-on-vacation':employee.on_vacation}">
                  <td>{{ employee.first_name }}</td>
                  <td>{{ employee.last_name }}</td>
                  <td>{{ employee.email }}</td>
                  <td>{{ daySchedule(employee) }}</td>
                  <td class="text-center">
                    <i class="material-icons" *ngIf="!dayScheduleWFH(employee)" matTooltip="Work from office"
                      [matTooltipPosition]="'below'">business</i>
                    <i class="material-icons" *ngIf="dayScheduleWFH(employee)" matTooltip="Work from home"
                      [matTooltipPosition]="'below'">home</i>
                  </td>
                </tr>
                <tr *ngIf="sortedData.length === 0">
                  <td>No matches</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive pt-2" *ngIf="employees != null && scheduleOnly">
            <table class="table table-hover table-striped table-cursor">
              <thead class="text-primary">
                <th>Name</th>
                <th>Schedule</th>
              </thead>
              <tbody>
                <tr *ngFor="let employee of sortedData" [routerLink]="path(employee)">
                  <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                  <td>
                    <div class="row">
                      <div class="col" *ngFor="let day of employee.schedule.work_days">
                        <p class="font-weight-bold">
                          <span class="material-icons align-middle" *ngIf="!day.wfh" matTooltip="Work from office"
                            [matTooltipPosition]="'below'">business</span>
                          <span class="material-icons align-middle" *ngIf="day.wfh" matTooltip="Work from home"
                            [matTooltipPosition]="'below'">home</span>
                          {{ day.week_day }}
                        </p>
                        <p *ngFor="let period of day.periods">{{ period.start_time }} - {{ period.end_time }}</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="sortedData.length === 0">
                  <td>No matches</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>