<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col pt-2">
            Vacation Details
          </div>
          <div class="col-auto">
            <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right"
              (click)="close()">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="input-dialog-group">
        <div class="card-body">
          <div class="col">
            <div class="row">
              <div class="col-auto">
                <p><b>Requested date:</b> {{vacation_request.requested_date | date}}</p>
              </div>
              <div class="col-auto" *ngIf="employeeIsCurrentEmployee()">
                <p><b>Employee name:</b> {{vacation_request.employee_name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p><b>Client Approval:</b> {{vacation_request.client_approval}}</p>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-auto">
                <p><b>Vacation days:</b></p>
              </div>
              <div class="col-auto">
                <div mat-list role="vacationDates">
                  <div mat-list-item *ngFor="let date of vacation_request.vacation_dates_output_list" role="listitem">
                    {{date.date | date}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="currentUserIsAdmin&&statusIsPending">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select [(value)]="vacationRequestStatus">
                    <mat-option value={{requestStatus.Pending}}>Pending</mat-option>
                    <mat-option value={{requestStatus.Accept}}>Accept</mat-option>
                    <mat-option value={{requestStatus.Deny}}>Deny</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="currentUserIsAdmin&&statusIsAccepted">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select [(value)]="vacationRequestStatus">
                    <mat-option value={{requestStatus.Accepted}}>Accepted</mat-option>
                    <mat-option value={{requestStatus.Cancel}}>Cancel</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="currentUserIsAdmin&&statusIsAccepted">
              <div class="col">
                <p><span *ngIf="vacation_request.status != vacationRequestStatus">{{vacation_request.status |
                    titlecase}}</span>
                  by <b>{{vacation_request.reviewer_name}}</b> on <i>{{vacation_request.review_date | date}}</i>
                </p>
              </div>
            </div>
            <div class="row" *ngIf="showStatus()">
              <div class="col">
                <p><b>Status:</b> {{vacation_request.status | titlecase}}
                  <span *ngIf="vacation_request.reviewer_name">by <b>{{vacation_request.reviewer_name}}</b> on
                    <i>{{vacation_request.review_date | date}}</i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <button mat-raised-button class="btn btn-success pull-right" *ngIf="currentUserIsAdmin&&statusAllowedSave()"
    [disabled]="isLoading" (click)="save()">
    Save
  </button>
  <button mat-raised-button class="btn btn-danger pull-right"
    (click)="deleteVacationRequest($event, vacation_request.id)"
    *ngIf="vacation_request.status == 'pending' && !employeeIsCurrentEmployee()" [disabled]="isLoading">
    Delete
  </button>
</div>