<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col pt-2">
            {{walletRequest.request_type.charAt(0).toUpperCase() + walletRequest.request_type.slice(1)}} Request Details
          </div>
          <div class="col-auto">
            <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right"
              (click)="close()">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="input-dialog-group">
        <div class="card-body">
          <div class="col">
            <div class="row">
              <div class="col-auto">
                <p><b>Requested date:</b> {{walletRequest.created_at | date}}</p>
              </div>
              <div class="col-auto" *ngIf="employeeIsCurrentEmployee()">
                <p><b>Employee name:</b> {{walletRequest.employee_name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p><b>Activity:</b> {{walletRequest.request_name}} - {{walletRequest.request_points}} pts</p>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col">
                <p><b>Comments:</b> {{walletRequest.request_comments}}</p>
              </div>
            </div>
            <div class="row" *ngIf="currentUserIsAdmin&&statusIsPending">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select [(value)]="walletRequestStatus">
                    <mat-option value={{requestStatus.Pending}}>Pending</mat-option>
                    <mat-option value={{requestStatus.Approve}}>Approve</mat-option>
                    <mat-option value={{requestStatus.Deny}}>Deny</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="currentUserIsAdmin&&statusIsApproved">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select [(value)]="walletRequestStatus">
                    <mat-option value={{requestStatus.Approved}}>Approved</mat-option>
                    <mat-option value={{requestStatus.Cancel}}>Cancel</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="currentUserIsAdmin&&statusIsApproved">
              <div class="col">
                <p><span *ngIf="walletRequest.status != walletRequestStatus">{{walletRequest.status | titlecase}}</span>
                  by <b>{{walletRequest.reviewer_name}}</b> on <i>{{walletRequest.review_date | date}}</i>
                </p>
              </div>
            </div>
            <div class="row" *ngIf="showStatus()">
              <div class="col">
                <p><b>Status:</b> {{walletRequest.status | titlecase}}
                  <span *ngIf="walletRequest.reviewer_name">by <b>{{walletRequest.reviewer_name}}</b> on
                    <i>{{walletRequest.review_date | date}}</i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <button mat-raised-button class="btn btn-success pull-right" *ngIf="currentUserIsAdmin&&statusAllowedSave()"
    [disabled]="isLoading" (click)="save()">
    Save
  </button>
  <button mat-raised-button class="btn btn-danger pull-right" (click)="deleteWalletRequest($event, walletRequest.id)"
    [disabled]="isLoading" *ngIf="walletRequest.status == 'pending' && !employeeIsCurrentEmployee()">
    Delete
  </button>
</div>