<div class="wrapper">
  <div *ngIf="display()" class="sidebar" [ngClass]="{'closed-sidebar': collapse}" data-color="azure"
    data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <app-sidebar (collapseEvent)="collapseSidebar($event)"></app-sidebar>
  </div>
  <div class="main-panel" *ngIf="!isLogin() && !getCurrentUrl().includes('/reset-password')">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
  <div class="login-panel" *ngIf="isLogin() || getCurrentUrl().includes('/reset-password')">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>