<app-breadcrumbs></app-breadcrumbs>
<mat-vertical-stepper [linear]="isNew" #stepper>
  <mat-step label="Personal Info" state="phone">
    <form class="mt-4 employee-edit">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="employee.first_name" name="first_name" required>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="employee.last_name" name="last_name" required>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <form [formGroup]="emailForm">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="emailInput" [(ngModel)]="employee.email"
                name="email" required>
              <mat-error
                *ngIf="emailForm.get('emailInput').touched && emailForm.get('emailInput').hasError('invalidEmail')">
                Please enter a valid email address!
              </mat-error>
            </mat-form-field>
          </form>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="birthdate" [(ngModel)]="employee.birthdate"
              name="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline" *ngIf="isNationalId()">
            <mat-label>Id Number</mat-label>
            <input matInput [(ngModel)]="nationalIdNumber" name="National ID Number" required
              [(mask)]="nationalIdMask" [showMaskTyped]="true" [dropSpecialCharacters]="false" type="text">
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="isResidentId()">
            <mat-label>Id Number</mat-label>
            <input matInput [(ngModel)]="residentIdNumber" name="Resident ID Number" required
              [(mask)]="residentIdMask" [showMaskTyped]="true" [dropSpecialCharacters]="false" type="text">
          </mat-form-field>
          <mat-radio-group aria-label="Select an option" name="Mask Selection">
            <mat-radio-button [checked]="isNationalId()" (change)="updateIdNumberField($event)" value="National">National Id</mat-radio-button>
            <mat-radio-button [checked]="isResidentId()" (change)="updateIdNumberField($event)" value="Resident">Resident Id</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Contact Phone</mat-label>
            <input matInput [(ngModel)]="employee.phone_number" name="phone_number" required
              [mask]="phoneMask" type="text">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>MAC Address</mat-label>
            <input matInput [(ngModel)]="employee.mac_address" name="mac_address">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Computer Serial Number</mat-label>
            <input matInput [(ngModel)]="employee.computer_serial_number"
              name="computer_serial_number">
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3" *ngIf="currentEmployeeIsAdmin()">
          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="employee.role" [compareWith]="compareRoles" required
              name="user_role">
              <mat-option *ngFor="let role of validRoles" [value]="role">
                {{role.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3" *ngIf="currentEmployeeIsAdmin()">
          <mat-form-field appearance="outline">
            <mat-label>Hire date</mat-label>
            <input matInput [matDatepicker]="hiredate" [(ngModel)]="employee.hire_date"
              name="hiredate" required>
            <mat-datepicker-toggle matSuffix [for]="hiredate"></mat-datepicker-toggle>
            <mat-datepicker #hiredate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Blog URL</mat-label>
            <input matInput [(ngModel)]="employee.blog_url" name="blog_url">
          </mat-form-field>
        </div>
      </div>

      <div class="colaborator-options">
        <div class="row justify-content-center mb-3">
          <div class="col-md-4 d-flex align-items-center">
            <mat-checkbox [(ngModel)]="employee.has_car" name="has_car"/>
            <i class="material-icons mr-2">directions_car</i>
            <span>Collaborator has car</span>
          </div>
          <div class="col-md-4 d-flex align-items-center" *ngIf="!isApprentice(employee)">
            <mat-checkbox [(ngModel)]="employee.can_be_mentor" name="can_be_mentor"/>
            <i class="material-icons mr-2">school</i>
            <span>Collaborator is or can be a mentor</span>
          </div>
          <div class="col-md-4 d-flex align-items-center" *ngIf="currentEmployeeIsAdmin()">
            <mat-checkbox [(ngModel)]="employee.on_vacation" name="on_vacation"/>
            <i class="material-icons mr-2">terrain</i>
            <span>Collaborator is on vacation</span>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4 d-flex align-items-center" *ngIf="currentEmployeeIsAdmin()">
            <mat-checkbox [(ngModel)]="employee.active" name="active"/>
            <i class="material-icons mr-2">verified_user</i>
            <span>Collaborator is an active user</span>
          </div>
          <div class="col-md-4 d-flex align-items-center" *ngIf="currentEmployeeIsAdmin() && !isApprentice(employee)">
            <mat-checkbox [(ngModel)]="employee.vacation_control" name="vacation_control"/>
            <i class="material-icons mr-2">work_history</i>
            <span>Collaborator needs vacation control</span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button mat-raised-button class="btn btn-inverse pull-left" type="button" (click)="openPasswordDialog(employee)" *ngIf="!isNew">
            <i class="material-icons">lock</i>
            Change password
          </button>
          <button mat-raised-button class="btn btn-success pull-right" type="submit" (click)="checkRoleUpdate(employee)"
            *ngIf="!isNew" [disabled]="emailForm.invalid || isLoading">
            Save
          </button>
          <button mat-raised-button class="btn btn-success pull-right" type="submit" (click)="addEmployee(employee)"
            *ngIf="isNew" [disabled]="emailForm.invalid || isLoading">
            Save
          </button>
          <button mat-raised-button class="btn btn-danger pull-right" (click)="goBack()" type="button">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step label="Schedule" *ngIf="!isNew && canEdit()" state="schedule">
    <form class="mt-4">
      <div class="row justify-content-center schedule-form">
        <div class="schedule-child" *ngFor="let day of employee.schedule.work_days; let index_day = index">
          <div class="d-flex align-items-center flex-row mb-2 pl-1 flex-wrap" style="font-size: 15px;">
            <p class="font-weight-bold mr-auto mb-0">{{ day.week_day }}</p>
            <mat-checkbox class="justify-content-end" [(ngModel)]="day.wfh" name="wfh" matTooltip="Working from home day?" [matTooltipPosition]="'above'"/>
            <i class="material-icons flex-end">home</i>
          </div>
          <form>
            <form *ngFor="let period of day.periods; let index_period = index; last as isLast">
              <div *ngIf="!period._destroy">
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="period.start_time" name="start_time" [(value)]="period.start_time">
                    <mat-option (click)="period.start_time = startHour" *ngFor="let startHour of hoursArray; let index_hour = index" [value]="startHour">
                      {{startHour}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="period.end_time" name="end_time" [(value)]="period.end_time">
                    <mat-option (click)="period.end_time = endHour" *ngFor="let endHour of hoursArray; let index_hour = index" [value]="endHour">
                      {{endHour}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button type="button" matTooltip="Remove period" [matTooltipPosition]="'above'"
                  class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="removePeriod(index_day, index_period)">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </form>
            <button mat-raised-button type="button" matTooltip="Add period" [matTooltipPosition]="'above'"
              class="btn btn-success btn-link btn-sm btn-just-icon pull-right" (click)="addPeriod(index_day)">
              <i class="material-icons">add</i>
            </button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-raised-button class="btn btn-success pull-right"
            (click)="updateSchedule(employee.id, employee.schedule)" [disabled]="isLoading">
            Save
          </button>
          <button mat-raised-button class="btn btn-danger pull-right" (click)="goBack()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step label="Profile Picture" *ngIf="!isNew" state="picture">
    <div class="row justify-content-center mt-5">
        <div class="col-2">
          <img [src]="employee.profile" height="100" class="rounded profile" *ngIf="!!employee.profile">
          <input type="file" (change)="onSelectedFile($event)" *ngIf="!employee.profile"/>
          <button mat-raised-button class="btn btn-danger" (click)="removeImage()">
            Remove
          </button>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <button mat-raised-button class="btn btn-success pull-right" (click)="updateEmployeeProfileImages(employee)"
          [disabled]="isLoading">
          Save
        </button>
        <button mat-raised-button class="btn btn-danger pull-right" (click)="goBack()">
          Cancel
        </button>
      </div>
    </div>
  </mat-step>
  <!-- Icon overrides. -->
  <ng-template matStepperIcon="profile">
    <mat-icon>account_circle</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="schedule">
    <mat-icon>calendar_today</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="picture">
    <mat-icon>face</mat-icon>
  </ng-template>
</mat-vertical-stepper>