<app-breadcrumbs></app-breadcrumbs>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        Summary Wallet Requests
      </div>
      <div class="card-body wallet ml-2">
        <div class="row justify-content-center" *ngIf="loading">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>

        <div *ngIf="!loading">
          <h4 class="mt-3 text-bold" *ngIf="walletSummaryData.length == 0"> No pending requests </h4>
          <div *ngIf="walletSummaryData.length != 0">
            <div class="row justify-content-between">
              <div class="col pr-0">
                <mat-form-field appearance="outline">
                  <mat-label>Filter by employee name, activity or date</mat-label>
                  <div class="row">
                    <div class="col">
                      <input matInput matTooltip="Filter after 3 letters" [matTooltipPosition]="'below'"
                        (keyup)="filter($event.target.value)" [(ngModel)]="searchTarget">
                    </div>
                    <div class="col-auto pl-0">
                      <span *ngIf="searchTarget!=''" class="text-primary cursor-pointer ml-1"
                        (click)="clearSearch()">Clear</span>
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col mr-md-3" *ngIf="selectedRequests.length == 0">
                <button mat-raised-button class="btn btn-success pull-right" (click)="update(status.Approved, true)"
                  [disabled]="walletSummary.length == 0">
                  Approve All
                </button>
                <button mat-raised-button class="btn btn-danger pull-right" (click)="update(status.Denied, true)"
                  [disabled]="walletSummary.length == 0">
                  Deny All
                </button>
              </div>
              <div class="col mr-md-3" *ngIf="selectedRequests.length != 0">
                <button mat-raised-button class="btn btn-success pull-right" (click)="update(status.Approved, false)"
                  [disabled]="walletSummary.length == 0">
                  Approve
                </button>
                <button mat-raised-button class="btn btn-danger pull-right" (click)="update(status.Denied, false)"
                  [disabled]="walletSummary.length == 0">
                  Deny
                </button>
              </div>
            </div>

            <h4 class="text-primary mb-2 text-bold">Pending requests:</h4>
            <div class="table-responsive">
              <table class="table table-hover table-striped" matSort (matSortChange)="sortWalletSummary($event)">
                <thead class="text-primary">
                  <th class="p-0 pl-2"><mat-checkbox [(ngModel)]="markAll" (click)="markAllRequests($event)"
                      [disabled]="walletSummary.length == 0"></mat-checkbox></th>
                  <th mat-sort-header="date">Date</th>
                  <th mat-sort-header="employee">Employee</th>
                  <th mat-sort-header="activity">Activity</th>
                  <th mat-sort-header="points">Points</th>
                  <th>Comments</th>
                </thead>
                <tbody>
                  <tr *ngFor="let request of walletSummary">
                    <td>
                      <mat-checkbox [(ngModel)]="request.is_marked"
                        (click)="markRequest($event, request)"></mat-checkbox>
                    </td>
                    <td>{{request.formatted_created_at}}</td>
                    <td>{{request.employee_name}}</td>
                    <td>{{request.request_name}}</td>
                    <td>{{request.request_points}}</td>
                    <td>{{request.request_comments}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>