<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        Welcome {{ getUserName() }}
        <br>
        <br>
        <p class="h5">{{ getTodaysDate() }}</p>
      </div>
      <div class="card-body" (click)="closeEditOnClick($event)">
        <div class="row justify-content-center" *ngIf="checklist == null || checklistCompletions == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive overflow-hidden" *ngIf="checklist != null || checklistCompletions != null ">
          <table class="table table-hover table-striped">
            <thead class="text-primary">
              <th>Today's checklist</th>
            </thead>
            <tbody>
              <tr *ngFor="let task of checklist; let task_index = index">
                <td>
                  <div class="row">
                    <div class="col-auto" *ngIf="!task.is_editable">
                      <mat-checkbox class="ml-2 mr-2" [(ngModel)]="task.is_completed" (click)="markTask($event, task)">
                      </mat-checkbox>
                    </div>
                    <div class="col d-flex align-items-center">
                      <div class="read-only w-100" name="task readOnly" *ngIf="!task.is_editable && !task.is_new"
                        (click)="activateEditInput(task)">
                        {{ task.task_name }}
                        <i class="material-icons pull-right text-muted mr-2" matTooltip="Global task"
                          *ngIf="task.task_type == 'global'">public</i>
                      </div>
                      <div *ngIf="task.is_editable" class="w-100">
                        <mat-form-field appearance="outline">
                          <input matInput [(ngModel)]="task.task_name" name="task_name">
                        </mat-form-field>
                        <div class="row">
                          <div class="col" *ngIf="canAccess()">
                            <mat-checkbox class="ml-2 mr-2" [(ngModel)]="task.is_global"
                              matTooltip="Only you can see this">
                              <a class="text-make-global"> Global </a>
                            </mat-checkbox>
                          </div>
                          <div class="col">
                            <button mat-raised-button class="btn btn-success pull-right"
                              (click)="addTask(checklistTask)" type="submit" *ngIf="task.is_new">
                              Save
                            </button>
                            <button mat-raised-button class="btn btn-success pull-right" (click)="editTask(task)"
                              type="submit" *ngIf="!task.is_new">
                              Save
                            </button>
                            <button mat-raised-button class="btn btn-danger pull-right"
                              *ngIf="(canAccess() || task.task_type == 'custom') && !task.is_new"
                              (click)="deleteTask(task)">
                              Delete
                            </button>
                            <button mat-raised-button class="btn btn-link text-dark pull-right"
                              (click)="removeTaskInput(task, task_index)" *ngIf="task.is_new">
                              Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let task of checklistCompletions; let task_index = index">
                <td>
                  <div class="row">
                    <div class="col-auto" *ngIf="!task.is_editable">
                      <mat-checkbox class="ml-2 mr-2" [(ngModel)]="task.is_completed" (click)="markTask($event, task)">
                      </mat-checkbox>
                    </div>
                    <div class="col d-flex align-items-center">
                      <div class="read-only w-100" name="task readOnly" *ngIf="!task.is_editable && !task.is_new"
                        (click)="activateEditInput(task)">
                        {{ task.task_name }}
                        <i class="material-icons pull-right text-muted mr-2" matTooltip="Global task"
                          *ngIf="task.task_type == 'global'">public</i>
                      </div>
                      <div *ngIf="task.is_editable" class="w-100">
                        <mat-form-field appearance="outline">
                          <input matInput [(ngModel)]="task.task_name" name="task_name">
                        </mat-form-field>
                        <div class="row">
                          <div class="col" *ngIf="canAccess()">
                            <mat-checkbox class="ml-2 mr-2" [(ngModel)]="task.is_global"
                              matTooltip="Only you can see this">
                              <a class="text-make-global"> Global </a>
                            </mat-checkbox>
                          </div>
                          <div class="col">
                            <button mat-raised-button class="btn btn-success pull-right"
                              (click)="addTask(checklistTask)" type="submit" *ngIf="task.is_new">
                              Save
                            </button>
                            <button mat-raised-button class="btn btn-success pull-right" (click)="editTask(task)"
                              type="submit" *ngIf="!task.is_new">
                              Save
                            </button>
                            <button mat-raised-button class="btn btn-danger pull-right"
                              *ngIf="(canAccess() || task.task_type == 'custom')" (click)="deleteTask(task)">
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button mat-raised-button class="btn btn-success btn-sm btn-round btn-just-icon pull-right"
          (click)="addTaskInput()" *ngIf="!addingNewTask">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  </div>
</div>