<div class="mt-3">
  <a [routerLink]="['/home']" class="simple-text" id="home-anchor">
    <div>
      <img src="/assets/img/pernix-central-logo-login.png" class="logo-sidebar" />
    </div>
  </a>
  <button mat-raised-button id="collapse-button" class="btn btn-primary btn-sm btn-round btn-just-icon"
    (click)="toggleSidebar()" matTooltip="Expand sidebar" *ngIf="!openedSidebar">
    <i class="material-icons">chevron_left</i>
  </button>
  <button mat-raised-button id="expand-button" class="btn btn-primary btn-sm btn-round btn-just-icon pull-right"
    (click)="toggleSidebar()" matTooltip="Collapse sidebar" *ngIf="openedSidebar">
    <i class="material-icons">chevron_right</i>
  </button>
</div>
<div>
  <nav id="sidebar" class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
        <a class="nav-link" *ngIf='canAccessModules(menuItem.title)' [routerLink]="[menuItem.path]">
          <i class="material-icons">{{menuItem.icon}}</i>
          <p>{{menuItem.title}}</p>
        </a>
      </li>
    </ul>
  </nav>
  <ul class="nav mr-3">
    <li routerLinkActive="active" class="nav-item" [routerLink]="['my-profile', employee.id]">
      <a class="nav-link cursor-pointer">
        <i class="material-icons">person</i>
        <p>My profile</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link cursor-pointer" (click)="logOut()">
        <i class="material-icons icon-red">power_settings_new</i>
        <p class="text-danger">Log Out</p>
      </a>
    </li>
  </ul>
</div>