<div class="main-content">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
      </table>
    </div>
  </div>
</div>