<div class="card">
  <div class="card-header card-header-info">
    <div class="row">
      <div class="col pt-2">
        Change password
      </div>
      <div class="col-auto">
        <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right" (click)="close()">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Password Confirmation</mat-label>
        <input matInput [(ngModel)]="password_confirmation"
          name="password_confirmation" type="password">
      </mat-form-field>
    </div>
    <button mat-raised-button class="btn btn-success pull-right" type="submit" (click)="savePassword()"
      [disabled]="isLoading">
      Save
    </button>
  </div>
</div>