// variables
$black-opacity: #000000;
$white-opacity: #ffffff;

// Import Angular Material styles
@use '@angular/material' as mat;

// Include the core styles
@include mat.core();

// define a real custom palette (using http://mcg.mbitson.com) - (Angular JS 2 (Material 2))
$bv-blue: (
    50 : #e8f1f8,
    100 : #c5dbed,
    200 : #9fc4e1,
    300 : #79acd4,
    400 : #5c9acb,
    500 : #3f88c2,
    600 : #3980bc,
    700 : #3175b4,
    800 : #296bac,
    900 : #1b589f,
    A100 : #d6e8ff,
    A200 : #a3cbff,
    A400 : #70aeff,
    A700 : #579fff,
    contrast: (
        50 : $black-opacity,
        100 : $black-opacity,
        200 : $black-opacity,
        300 : $black-opacity,
        400 : $black-opacity,
        500 : $white-opacity,
        600 : $white-opacity,
        700 : $white-opacity,
        800 : $white-opacity,
        900 : $white-opacity,
        A100 : $black-opacity,
        A200 : $black-opacity,
        A400 : $black-opacity,
        A700 : $black-opacity,
    )
);

$bv-green: (
    50 : #edf3e7,
    100 : #d2e2c3,
    200 : #b4cf9c,
    300 : #95bc74,
    400 : #7fad56,
    500 : #689f38,
    600 : #609732,
    700 : #558d2b,
    800 : #4b8324,
    900 : #3a7217,
    A100 : #c8ffab,
    A200 : #a6ff78,
    A400 : #85ff45,
    A700 : #74ff2b,
    contrast: (
        50 : $black-opacity,
        100 : $black-opacity,
        200 : $black-opacity,
        300 : $black-opacity,
        400 : $black-opacity,
        500 : $black-opacity,
        600 : $white-opacity,
        700 : $white-opacity,
        800 : $white-opacity,
        900 : $white-opacity,
        A100 : $black-opacity,
        A200 : $black-opacity,
        A400 : $black-opacity,
        A700 : $black-opacity,
    )
);

// mandatory stuff for theming
$bv-palette-primary: mat.define-palette($bv-blue);
$bv-palette-green:  mat.define-palette($bv-green);

// include the custom theme components into a theme object
$bv-theme: mat.define-light-theme($bv-palette-primary, $bv-palette-green);

// include the custom theme object into the angular material theme
@include mat.all-component-themes($bv-theme);
