.mat-mdc-dialog-surface {
  padding: 25px;
  background: #d5d5d5 !important;
}

.notification-tray .mat-mdc-dialog-surface {
  background: white !important;
}

.notification-tray,
.mobile-dialog {
  @media (max-width: 900px) {
    width: 90% !important;
  }
}

.swal2-title {
  background: #3f88c2;
  box-shadow: 0 4px 20px #00000024, 0 7px 10px -5px #3f88c266;
  border-radius: 3px;
  text-align: center;
  font-size: 1.3rem;
  word-wrap: break-word;
  color: #fff;
  margin: -30px 12px 0;
  padding: 10px 15px;
  border-bottom: none;
  z-index: 3 !important;
}

.swal2-actions {
  padding-right: 12px;
}

.swal2-html-container {
  font-size: 1.3rem !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  width: auto !important;
}

div:where(.swal2-container) div:where(.swal2-actions) {
  width: 100% !important;
}
