.img-thumbnail {
    border-radius: 16px;
}

.img-raised {
    @include shadow-big-image();
}

.rounded {
    border-radius: $border-radius-large  !important;
}

img.profile {
    margin-left: 19px;
}

input.ng-star-inserted {
    margin-left: 8px;
}