.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #FFF !important;
}

.employee-edit {
  .mat-mdc-form-field:not(.mat-form-field-disabled) 
  .mat-mdc-floating-label.mdc-floating-label {
    color: rgb(76, 175, 80)
  }

  .mdc-text-field--no-label:not(.mdc-text-field--textarea) 
  .mat-mdc-form-field-input-control.mdc-text-field__input, 
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    }
}

.login, .employee-list,
.vacation-history, .wallet {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    height: 2.7rem;
    padding-left: 0px;
    overflow: visible;
  }
  
  .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-size: 14px;
  }
  
  .mdc-line-ripple::before, .mdc-line-ripple::after {
    bottom: -8px !important;
  }
  
  .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-size: 14px;
  }

  .cdk-text-field-autofilled {
    background-color: #FFF !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
  }
}

// Disables background color shown when autofilling
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}