<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="row">
          <div class="col pt-2">
            {{data.request_type.charAt(0).toUpperCase() + data.request_type.slice(1)}} Request
          </div>
          <div class="col-auto">
            <button mat-raised-button class="btn btn-danger btn-sm btn-round btn-just-icon pull-right"
              (click)="cancel()" [disabled]="isLoading">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col" *ngIf="data.request_type === requestType.DEBIT">
                  <p><span class="font-weight-bold text-primary">Available points:</span>
                    {{currentUser.my_way_points_available}}</p>
                </div>
              </div>
              <div class="row" *ngIf="data.request_type === requestType.CREDIT">
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Event day</mat-label>
                    <mat-select [(ngModel)]="eventDay" required>
                      <mat-option *ngFor="let date of dateList" [value]="date">
                        {{formatDate(date)}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Activity</mat-label>
                    <div *ngIf="data.request_type === requestType.CREDIT">
                      <input type="text" matInput (keyup)="filterList($event.target.value)" [matAutocomplete]="auto"
                        [(ngModel)]="writtenAward" required>
                      <mat-autocomplete #auto="matAutocomplete">
                        <div *ngFor="let award of filteredAwardList">
                          <mat-option value="{{award}}" (click)="setSelectedAward(award)">
                            {{award}}
                          </mat-option>
                        </div>
                      </mat-autocomplete>
                    </div>
                    <div *ngIf="data.request_type === requestType.DEBIT">
                      <input matInput [(ngModel)]="walletRequest.request_name" name="name" required>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-auto" *ngIf="data.request_type === requestType.DEBIT">
                  <mat-form-field appearance="outline">
                    <mat-label>Points</mat-label>
                    <input matInput type="number" [(ngModel)]="walletRequest.request_points" [min]="1" name="points"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Comments</mat-label>
                    <textarea matInput [(ngModel)]="walletRequest.request_comments" name="comments" required></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <button mat-raised-button class="btn btn-success pull-right" (click)="validateFields()" [disabled]="isLoading"
      type="submit">
      Send
    </button>
  </div>
</div>